* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	line-height: 150px;
}

[class*="col-"] {
	background-color: #FFBECA;
	height: 100%;
	border: 1px solid grey;
	text-align: center;
}


.box {
	padding: 10px;
}

.box [class*="col-"]  {
	background-color: #F37D80;
	border: 1px solid white;
}